body{
    margin:0;
    overflow-x:hidden;
    }

    .ending {
        padding-left: 1%;
        padding-right: 1%;
        color: #FAF9F6;
    }

    .endingLeft {
        text-align: left;
        position: absolute;
    }

    .endingRight {
        text-align: right;
    }
    
    .footer{
    background:#1a1919;
    padding:30px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#FAF9F6;
    font-size:1.05em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#FAF9F6;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color: #FAF9F6;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }