.navbar-header {
    background-color: #FAF9F6;
    max-height: 400px;
}

.navLinksMain:hover {
    background-color: #2b2b2b;
    border-radius: 10px; /* Adjust the radius as needed */
    transition: background-color 0.3s; /* Add a smooth transition */
}

.navLinksMain {
    background-color: #FAF9F6;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0.3px #FAF9F6;
}

.linksMain:hover {
    color: #FAF9F6;
}

.linksMain {
    color: #2b2b2b;
}


.dropdown-menu {
    max-height: 200px; /* Set your desired max height */
    overflow-y: auto;
}

.btn {
    --bs-btn-bg: #FAF9F6;
    --bs-btn-hover-bg: #FAF9F6;
    --bs-btn-active-color: #FAF9F6;
}

.btn-secondary {
    --bs-btn-hover-color: #FAF9F6;
}



