.navLogo {
    max-width: 400px;
    max-height: 100px;
    height: auto;
    width: auto;
}

.navbar-header {
    background-color: #2b2b2b;
}

.navLinks:hover {
    background-color: #FAF9F6;
    border-radius: 10px; /* Adjust the radius as needed */
    transition: background-color 0.3s; /* Add a smooth transition */
}

.navLinks {
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0.3px #FAF9F6;
}

.links:hover {
    color: #2b2b2b;
}

.links {
    color: #FAF9F6;
}

.dropdown-menu {
    max-height: 200px; /* Set your desired max height */
    overflow-y: auto;
}

.btn {
    --bs-btn-bg: #2b2b2b;
    --bs-btn-hover-bg: #FAF9F6;
    --bs-btn-active-color: #2b2b2b;
}

.btn-secondary {
    --bs-btn-hover-color: #2b2b2b;
}



