.App {
  background-color: #9c9cf3;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-bar-container {
  padding-top: 10vh;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}



